header {
  position: absolute;
  width: 100%; }
  header .nav {
    display: block;
    width: 100%; }
    header .nav #header-img {
      display: block;
      height: 350px;
      width: 100%;
      position: absolute; }
    header .nav .menu-group {
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding-inline-start: 0px;
      align-items: flex-start;
      position: relative; }
      header .nav .menu-group .icon {
        flex-direction: column; }
        header .nav .menu-group .icon a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          color: #666; }
          header .nav .menu-group .icon a #schnaFriends {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 150px; }
          header .nav .menu-group .icon a .fa {
            color: #666;
            font-size: 3em;
            text-align: center; }
