<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="meta_header(title,links,scripts)">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="common.css" />
    <title th:text="${title}+' | シュナウザーの集いin札幌'">各ページタイトル | sample app</title>
    <th:block th:replace="${links} ?: _" />
    <th:block th:replace="${scripts} ?: _" />
</head>
<body>
<header th:fragment="header">

    <nav class="nav">
        <img src="img/header.png" id="header-img">
        <ul class="menu-group">
            <li class="icon">
                <a href="./event">
                    <i class="fa fa-dog"></i>
                    イベント
                </a>
            </li>
            <li class="icon">
                <a href="./friend">
                    <i class="fa fa-bone"></i>
                    お友達募集
                </a>
            </li>
            <li class="icon">
                <a href="./">
                    <img src="img/schnaFriends.png" alt="シュナともアイコン" title="シュナとも" id="schnaFriends">
                </a>
            </li>
            <li class="icon">
                <a href="./consultation">
                    <i class="fa fa-paw"></i>
                    お悩み相談掲示板
                </a>
            </li>
            <li class="icon">
                <a href="./question">
                    <i class="fa fa-envelope"></i>
                    質問・要望
                </a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>