<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: meta_header('ホーム',~{::link},~{::script})">
    <link rel="stylesheet" href="event.css" />
</head>
<body>
    <div th:replace="common :: header"></div>
    <div class="home-moji">
        <img src="img/ritsu-event.jpg" id="home-background">
        <p>シュナちゃんのパパ・ママ専用交流サイト！</p>
        <div>うちの子にお友達を作ってあげたい！</div>
        <div>シュナともに話を聞いてほしい！</div>
        <div>そんなオーナーさんのためのサイトです。</div>
    </div>
</body>
</html>